@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --primary-color: #F91944;
  --hover-color: #d82347;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  line-height: 1.7;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}